* {
  margin: 0;
  padding: 0;
}

body {

  background-color: rgb(40, 39, 39);  

}
.in-pages{
  display: flex;
}

.bodyy {
  width: 100%;
  background: linear-gradient(200deg, #9c02023c, #222223,#261b1b38);
}
nav{
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 0 80px;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
nav .logo{
    display: flex;
    align-items: center;
    gap: 30px;
}
nav .logo img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 80px;
}
nav .logo form input{
  height: 30px;
  border: none;
  border-radius: 8px;
  width: 250px;
  padding-left: 20px;
  background-color: #ffffff20;
  color: white;
  margin-right: 30px;
}
.botton-add{
  height: 30px;
  border: none;
  border-radius: 8px;
  background-color: #ffffff38;
  color: white;
  width: 80px;
}
nav .info{
    display: flex;
    align-items: center;
    gap: 40px;
}
nav .info img{
  width: 30px;
  height: 30px;
  object-fit: contain;
  opacity: 0.5;
}

.sidebar{
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 250px;
  padding-top: 50px;
  padding-left: 20px;
  
}
.sidebar button{
  background-color: transparent;
  border: none;
   padding-left: 40px;
  display: flex;
  gap: 20px;
  align-items: center;
  color: rgba(206, 203, 203, 0.682);
}
.sidebar .top,
.sidebar .down{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar img{
   opacity: 0.5;
     width: 30px;
  height: 30px;
}
.orange-border{
  border-left:coral solid  4px!important;
  color: coral!important;
  text-shadow: rgba(255, 127, 80, 0.881) 0 0 20px;
}




.main{
  width: 100%;
  
  margin-right: 60px;
  display: grid;
  grid-template-columns: 5fr 2fr ;
  grid-template-rows: 350px 100px 300px;
  gap: 20px;
}
.main div{
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.main div img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 20px;
}
.main div:nth-child(1){
  grid-row: 1/3;
}
.main div:nth-child(3){
  display: flex;
  gap: 10px;
}
.main div:last-child{
  grid-column: 1/3;
}
.main div.contant{
  background-image: linear-gradient(to left top, #f80c0c, #fe5a00, #ff8700, #fead00, #f9d000, #f5cd00, #f1c900, #edc600, #e69d00, #da7300, #c84800, #b20909);  
  opacity: 0.8;
  display: flex; 
  flex-direction: column;
  padding-left: 20px;
  color: white;
  font-weight: bold;
  justify-content: space-around;
}
.main div.contant button{
  width: 200px;
  background-color: #222223;
  height: 50px;
  font-size: 20px;
}


.scroll-container {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  gap: 20px;
}
.scroll-container img {
  margin-left:  20px; 
  border-radius: 20px;
  height: 350px;
  width: 200px;
  aspect-ratio: 1/2;
  object-fit: cover;
}

.scroll-content {
  display: inline-block;
  animation: scroll 20s linear infinite;

}

@keyframes scroll {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(-600%);
  }
}
