* {
  margin: 0;
  padding: 0;
}

body {

  background-color: rgb(40, 39, 39);
}
.in-pages{
  display: flex;
}

.bodyy {
  width: 100%;
  height: 100vh;
  background: linear-gradient(200deg, #9c02023c, #222223,#261b1b38);
}
nav{
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 0 80px;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
nav .logo{
    display: flex;
    align-items: center;
    gap: 30px;
}
nav .logo img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 80px;
}
nav .logo form input{
  height: 30px;
  border: none;
  border-radius: 8px;
  width: 250px;
  padding-left: 20px;
  background-color: #ffffff20;
  color: white;
  margin-right: 30px;
}
nav .logo form button{
  height: 30px;
  border: none;
  border-radius: 8px;
  background-color: #ffffff38;
  color: white;
  width: 80px;
}
nav .info{
    display: flex;
    align-items: center;
    gap: 40px;
}
nav .info img{
  width: 30px;
  height: 30px;
  object-fit: contain;
  opacity: 0.5;
}

.sidebar{
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 250px;
  padding-top: 50px;
  padding-left: 20px;
  
}
.sidebar button{
  background-color: transparent;
  border: none;
   padding-left: 40px;
  display: flex;
  gap: 20px;
  align-items: center;
  color: rgba(206, 203, 203, 0.682);
}
.sidebar .top,
.sidebar .down{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar img{
   opacity: 0.5;
     width: 30px;
  height: 30px;
}
.orange-border{
  border-left:coral solid  4px!important;
  color: coral!important;
  text-shadow: rgba(255, 127, 80, 0.881) 0 0 20px;
}




.main{
  width: 100%;
  height: 500px;
  margin-right: 60px;
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 350px 100px;
  gap: 10px;
}
.main div{
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.main div img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 20px;
}
.main div:nth-child(1){
  grid-row: 1/3;
}
.main div:nth-child(3){
  display: flex;
  gap: 10px;
}
.main div.contant{
  background-image: linear-gradient(
    0deg,
    hsl(315deg 73% 10%) 0%,
    hsl(323deg 75% 16%) 7%,
    hsl(332deg 80% 21%) 14%,
    hsl(341deg 83% 27%) 21%,
    hsl(350deg 86% 33%) 29%,
    hsl(359deg 89% 39%) 36%,
    hsl(8deg 92% 44%) 43%,
    hsl(17deg 95% 50%) 50%,
    hsl(22deg 96% 53%) 57%,
    hsl(26deg 96% 56%) 64%,
    hsl(31deg 97% 59%) 71%,
    hsl(36deg 98% 61%) 79%,
    hsl(41deg 99% 64%) 86%,
    hsl(46deg 99% 67%) 93%,
    hsl(50deg 100% 70%) 100%
  );  display: flex;
  flex-direction: column;
  justify-content: space-around;
}